aiofiles
aiohttp
beautifulsoup4
ecdsa
fastapi
httpx
loguru
openpyxl
pillow
playwright==1.61.0
protobuf3_to_dict
PyMySQL
python-dotenv
qrcode
requests
retry
SQLAlchemy
pytest
urllib3
uvicorn[standard]
websockets
